<footer>
    <p class="society">L'ÒRTA</p>
    <p>Saisei (再生) was founded with a asingular vision: to redefinearchitecture by harmonizingcutting-edge innovation </p>
    <div class="content-ancre-footer">
        <div>
            <div>
                <li><a href="">Accueil</a></li>
                <li><a href="">Nos fleurs</a></li>
                <li><a href="">A propos</a></li>
                <li><a href="">Contact</a></li>
            </div>
            <div>
                <li><a href="">Conditions générales de vente et d’utilisation</a></li>
                <li><a href="">Politique de confidentialité</a></li>
                <li><a href="">Politique de retours </a></li>
            </div>
        </div>
        <div class="socials">
            <div class="social-circle"></div>
            <div class="social-circle"></div>
            <div class="social-circle"></div>
        </div>

    </div>
</footer>