<header>
    <nav class="navigation">
        <div class="content-navigation">

            <ul class="nav-links">
                <li>
                    <a href="/">Accueil</a>
                </li>
                <li>
                    <a href="/products">Nos fleurs</a>
                </li>
                <li>
                    <a href="/a-propos">A propos</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="content-cart-login">
            <a>
                <img class="login" src="/images/login.png"/>
            </a>
            <button class="btn-cart">
                <img class="cart" src="/images/cart.jpg"/>
            </button>
        </div>
    </nav>
</header>