footer{
    padding: 0 3rem;
    margin-top: 9rem;
}

footer > p:nth-child(2){
    color:white;
    margin-left: 1rem;
}

.content-ancre-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.content-ancre-footer > div:nth-child(1){
    display: flex;
    margin-left: 1rem;
    gap:5rem
}

.content-ancre-footer > div:nth-child(1) > div{
    display: flex;
    flex-direction: column;
    gap:0.5rem
}

.content-ancre-footer > div:nth-child(1)> div > li > a{
    color:white;
    text-decoration: none;
}


