footer{
    padding: 0 3rem;
    margin-top: 9rem;
}

.society{
    font-size: 14vw;
    letter-spacing: 1.4rem;
    color: var(--text-color);
    overflow: hidden;
    font-family: var(--font-primary);
    margin-top: 3rem;
}

footer > p:nth-child(2){
    color:white;
    margin-left: 1rem;
}

.content-ancre-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.content-ancre-footer > div:nth-child(1){
    display: flex;
    margin-left: 1rem;
    gap:5rem
}

.content-ancre-footer > div:nth-child(1) > ul{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    list-style: none;
}

.content-ancre-footer > div:nth-child(1)> ul > li > a{
    color:white;
    text-decoration: none;
}

.socials {
    display: flex;
    gap: 1rem;
    align-self: flex-end;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 3rem;
}

.social-circle {
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 100%;
  }

