*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root {
    /* 🎨 Couleurs */
    --text-color: white;
    --background-color: #0A0A0A;
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
}

html{
    font-size: 1.2vw;
}

body{
    background-color:  var(--background-color);
}

.home{
   /* 100vh moins la hauteur du header */
    display: flex;
   align-items: end;
   justify-content: space-between;
   padding: 0 1rem;
   margin-top: 5vh;
   min-height: 100vh;
}

.content-title{
    margin-top: auto;
    padding-top: 5rem;
}

.cbd-title{
    writing-mode: vertical-lr;
    color:var(--text-color);
    font-size: 1rem;
    letter-spacing: 0.2rem;
    font-family: var(--font-secondary);
}

.society{
    font-size: 14vw;
    letter-spacing: 1.4rem;
    color: var(--text-color);
    overflow: hidden;
    font-family: var(--font-primary);
    margin-top: 3rem;
}

.content-logo {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centre horizontalement le contenu */
       /* Prend toute la hauteur de la vue */
    height: 100%;
    width: 100%;
}

.logo{
    width: 22vw;
    margin-bottom: 3rem;
}

.socials{
    display: flex;
    gap:1rem;
    align-self: flex-end;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 3rem;
}


.social-circle{
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 100%;
}

.section-products{
    color:white;
    margin-top: 7rem;
}

.title-products{
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap:1rem;
}

.title-products > span{
    padding-right: 1rem;
}

.line-title-products{
    width: 8rem;
    height: 0.1rem;
    background-color: white;
}

.products{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 4rem;
    padding-right: 1rem;
}

.subtitle-products {
margin-bottom: 1rem;
}

.content-cards-products{
    display: flex;
    gap:1.2rem
}

.card-product{
    background-color: #141414;
    width: 20rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.2rem;
}

.card-product:hover{
    outline: 1px solid #80AB77;

}

.head-cbd{
    width: 50%;
    align-self: center;
}

.description-product{
    margin-top: 2rem;
}

.description-product > h4{
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
}

.description-product > p{
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.card-product > a{
    color: #0A0A0A;
    text-decoration: none;
    background-color: #D9D9D9;
    align-self: flex-start;
    padding: 0.3rem 1rem;
    border-radius: 0.2rem;
    font-size: 0.9rem;
}

.first-section{
    display: flex;
    color:white;
    justify-content: space-around;
    padding: 0 1rem;
    margin-top: 12rem;
}

.first-content-left > h2{
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
    line-height: 0.8;
}

.content-word-title-first-section,.content-word-title-second-section{
    overflow: hidden;
    display: block;
}

.word-title-first-section,.word-title-second-section{
    transform: translateY(102%);
    display: block;
}

.first-content-left {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.word-aside-first-section{
    display: inline-block;
    overflow: hidden;
}

.word-aside-first-section > span{
    display: inline-block;
    transform: translateY(100%);
}

.content-image-first-section,.content-image-second-section{
   position: relative;
   width: 30rem;
   height: 36rem;
}

.visual-image-first-section,.visual-image-second-section,.visual-littleImage-second-section{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0A0A0A;
    top:0;
    z-index: 2;
    transform-origin: right;
}

.content-word-paragraphe,.word-aside-second-section-1,.word-aside-second-section-2{
    display: inline-block;
    overflow: hidden;
}

.word-paragraphe-first-section,.word-paragraphe-second-section,.word-aside-second-section-1 span,.word-aside-second-section-2 span{
    transform: translateY(100%);
    display: inline-block;
}

.image-first-section,.second-image-section {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.first-content-right {
    flex: 0 0 25%;
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first-text-content-right >div:first-child{
    overflow: hidden;
}

.first-text-content-right >div:first-child > h3{
    font-size: 0.9rem;
    transform: translateY(100%);
}

.first-text-content-right > p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
    margin-top: 1rem;
    padding-right: 2rem;
}

.line{
    width: 100%;
    height: 0.05rem;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
}

.bloc-philosophy > h4{
margin-bottom: 1rem;
font-size: 0.9rem;
}

.content-philosophy{
    display: flex;
    flex-direction: column;
    gap:0.4rem;
    padding-bottom: 1rem;
}

.philosophy span{
    display: block;
    margin-bottom: 0.4rem;
    font-size: 0.8rem;
}

.bloc-gallery{
    color:white;
    position: relative;
    padding-top: 16rem;
    padding-bottom: 16rem;
}

.title-gallery{
    font-size: 7rem;
    position: sticky;
    top:12rem;
    text-align: center;
    padding: 0 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 1;


}

.content-img-gallery{
    padding-bottom: 32rem;
    padding-top: 16rem;
    display: flex;
    flex-wrap: wrap;
}

.img-gallery{
    object-fit: cover;
    position: relative;
}

.img-gallery:nth-child(1){
    width: 18rem;
    height: 12rem;
    margin-left: 10rem;
    margin-top: 3rem;
}

.img-gallery:nth-child(2){
    width: 24rem;
    height: 16rem;
    margin-left: 22rem;
}

.img-gallery:nth-child(3){
    width: 28rem;
    height: 19rem;
    margin-left: 4rem;
    margin-top: 15rem;
}

.img-gallery:nth-child(4){
    width: 18rem;
    height: 13rem;
    margin-left: 30rem;
    margin-top: 5rem;
}

.img-gallery:nth-child(5){
    width: 18rem;
    height: 13rem;
    margin-top: 12rem;
    margin-left: 8rem;
}

.img-gallery:nth-child(6){
    width: 21rem;
    height: 15.5rem;
    margin-top: 14rem;
    margin-left: 4rem;
}

.img-gallery:nth-child(7){
    width: 21rem;
    height: 31rem;
    margin-left: 6rem;
    margin-top: 11rem;
    z-index: 2;
}

.img-gallery:nth-child(8){
    width: 18rem;
    height: 12rem;
    margin-left: 15rem;
    margin-top: 3rem;
    z-index: 2;
}

.img-gallery:nth-child(9){
    width: 21rem;
    height: 14rem;
    margin-left: 7rem;
    margin-top: 7rem;
    z-index: 2;
}


.img-gallery:nth-child(10){
    width: 13rem;
    height: 7rem;
    margin-left: 10rem;
    margin-top: 10rem;
    z-index: 2;
}

.img-gallery:nth-child(11){
    width: 24.5rem;
    height: 16.25rem;
    margin-left: 32rem;
    margin-top: 3rem;
}


.second-section{
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    padding: 0 2rem
}

.content-littleImage-second-section{
    position: relative;
    width: 100%;
    height: 10rem;
}

.second-littleImage-bloc{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.second-content-section{
    display: flex;
    justify-content: space-between;
}

.bloc-second-title-section,.bloc-second-text-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bloc-second-title-section{
    flex: 0 0 20%
}

.second-content-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    gap:0.6rem
}

.word-aside-second-section-1 span{
    font-weight: bold;
    font-size: 1rem;
    display: inline-block;
}

.word-aside-second-section-2 span{
    font-size: 0.7rem;
    display: inline-block;
}

.bloc-second-title-section > h2{
    font-size: 4rem;
    line-height: 1;
    font-family: 'Courier New', Courier, monospace;
}

.bloc-second-text-section{
    flex: 0 0 20%
}

.second-text-section > p {
    font-size: 0.7rem;
    margin-bottom: 4rem;
    padding-right: 4rem;
}

.second-text-section > a{
    background-color: #D9D9D9;
    color:#0A0A0A;
    padding:0.3rem 2rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    opacity: 0;
}

.third-section{
    color:white;
    display: flex;
    flex-direction: column;
    padding:0 2rem;
    margin: 8rem 0;
}

.informations-command{
    display: flex;
    justify-content: center;
    gap:5rem
}

.information-command{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 15%;
}

.information-command > img{
    width: 75%;
}

.information-command > span{
    font-size: 1rem;
    font-weight: bold;
    margin:1rem 0;
    text-align: center;
}

.information-command > p{
   text-align: center;
   font-size: 0.8rem;
}

.ancre-flower{
    display: flex;
    align-items: center;
    gap:2rem;
    align-self: flex-end;
    margin-top: 5rem;
    cursor: pointer;
}

.ancre-flower > img{
width: 1rem;
background-color: white;
border-radius: 100%;
}

.fourth-section{
    display: flex;
    color:white;
    padding: 0 2rem;
    justify-content: space-between;
}

.fourth-section > img{
width: 30rem;
height: 36rem;
object-fit: cover;
}

.bloc-fourth-subtitle-img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 18%
}

.fourth-content-subtitle{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: flex-start;
}

.fourth-content-subtitle span:first-child {
    font-weight: bold;
    font-size: 1rem;
}

.fourth-content-subtitle  span:last-child {
font-size: 0.7rem;
}

.bloc-fourth-subtitle-img > img{
width: 100%;
height: 17rem;
object-fit: cover;
}

.bloc-fourth-content-title-text{
    display: flex;
    flex-direction: column;
    gap:2rem;
    flex:0 0 30%
}

.bloc-fourth-content-title-text > h2{
    font-size: 4rem;
    line-height: 1;
    font-family: 'Courier New', Courier, monospace;
}

.bloc-fourth-content-title-text > p
{
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9rem;
  margin-top: 1rem;
  padding-right: 2rem;
}

.bloc-fourth-content-title-text > a{
    background-color: #D9D9D9;
    color: #0A0A0A;
    padding: 0.3rem 2rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    align-self: flex-start;
}

.fifth-section{
    display: flex;
    gap:2rem;
    color:white;
    padding: 0 2rem;
    margin: 12rem 0;
}

.img-fifth-section{
    width: 30rem;
    object-fit: cover;
}

.content-principale-fifth-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-img-fifth-section{
    display: flex;
    gap:2rem;
}

.content-img-fifth-section > img{
    width: 18rem;
    height: 10rem;
    object-fit: cover;
}

.content-text-fifth-section{
    padding-left: 4rem;
    padding-bottom: 3rem;
}

.content-text-fifth-section > h2{
    font-size: 3.8rem;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 2rem;
    padding-right: 10rem;
}

.content-text-fifth-section > p{
    padding-right: 10rem;
    font-family: 'Courier New', Courier, monospace;
  font-size: 0.9rem;
}

.sixth-section{
    display: flex;
    padding: 0 2rem;
    color:white;
    justify-content: space-between;
}

.content-text-sixth-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 43%;
}

.content-text-sixth-section >div{
    padding-left: 2rem;
}

.content-text-sixth-section >div> h2{
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 2rem;
}

.content-text-sixth-section >div> p{
    font-family: 'Courier New', Courier, monospace;
  font-size: 0.9rem;
}

.content-text-sixth-section > img{
    width: 22rem;
    height: 12rem;
    object-fit: cover;
}

.content-img-sixth-section{
    display: flex;
    flex-direction: column;
}

.content-img-sixth-section > img{
    width: 30rem;
    height: 36rem;
    object-fit: cover;
}

.content-img-sixth-section > a {
    background-color: #D9D9D9;
    color: #0A0A0A;
    padding: 0.3rem 2rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    align-self: flex-end;
    margin-top: 4rem;
}

.seven-section{
    display: flex;
    color:white;
    margin-top: 12rem;
    justify-content: space-between;
    padding: 0 2rem;
}

.title-seven-section > h2{
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
}

.contents-seven-section{
    flex: 0 0 50%;
}

.content-seven-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 1rem 0;
}
.content-seven-section > img{
    width: 1rem;
}


.random-title span {
    display: inline-block;
    transition: transform 0.3s ease-out;
}