<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/a-propos.css">
    <link rel="stylesheet" href="/css/card-product.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <%- include('../partials/header') %>

    <main>
        <section class="a-propos-histoire">
            <div class="a-propos-texte">
                <div class="a-propos-paragraphe">
                    <p>
                        Le cannabidiol ou « CBD » disponible en accès libre se distingue des traitements médicaux à base de cannabis,
                        prescrits sur ordonnance à des patients bénéficiant d’un suivi.
                    </p>
                </div>
                <div class="a-propos-titre">
                    <h1>L’HISTOIRE DE L’ORTA</h1>
                </div>
            </div>

            <div class="a-propos-media">
                <div class="content-images">
                    <img class="a-propos-image" src="/images/00.jpg" alt="Image illustrative de L'ÒRTA">
                    <img class="a-propos-image" src="/images/10.jpg" alt="Image illustrative de L'ÒRTA">
                    <img class="a-propos-image" src="/images/20.jpg" alt="Image illustrative de L'ÒRTA">
                </div>

                <div class="a-propos-reseaux reseaux-socials">
                    <div class="reseau-icon icon-1"></div>
                    <div class="reseau-icon icon-2"></div>
                    <div class="reseau-icon icon-3"></div>
                </div>
            </div>
        </section>

        <section class="section-informations">
            <p>The project's holistic approach is manifested not only in the selection of materials, but also in the flow of the spaces, designed to create natural areas for rest and socializing.</p>
        </section>

        <section class="section-cbd-premium">
            <h1 class="cbd-premium-title">
                <span class="cbd-premium-keyword">CBD</span>
                <div class="cbd-premium-line"></div>
                <span class="cbd-premium-keyword">PREMIUM</span>
            </h1>

            <div class="cbd-premium-content">
                <div class="cbd-premium-image-container">
                    <img class="cbd-premium-image" src="/images/img1.jpg" alt="Image CBD premium"/>
                </div>

                <div class="cbd-premium-text-container">
                    <div>
                        <p class="cbd-premium-paragraph">
                            Le cannabidiol ou « CBD » disponible en accès libre se distingue des traitements médicaux à base de cannabis,
                            prescrits sur ordonnance à des patients bénéficiant d’un suivi.<br>
                            Le cannabidiol ou « CBD » disponible en accès libre se distingue des traitements médicaux à base de cannabis,
                            prescrits sur ordonnance à des patients bénéficiant d’un suivi.
                        </p><br>
                        <p class="cbd-premium-paragraph">
                            Le cannabidiol ou « CBD » disponible en accès libre se distingue des traitements médicaux à base de cannabis,
                            prescrits sur ordonnance à des patients bénéficiant d’un suivi.<br>
                            Le cannabidiol ou « CBD » disponible en accès libre se distingue des traitements médicaux à base de cannabis,
                            prescrits sur ordonnance à des patients bénéficiant d’un suivi.
                        </p>
                    </div>

                    <div class="cbd-premium-since">
                        <span class="cbd-premium-since-label">DEPUIS</span>
                        <span class="cbd-premium-since-year">2025</span>
                    </div>
                </div>
            </div>
        </section>

        <section class="excellence-section">
            <h2 class="excellence-title">
                <span>EXCELLENCE</span> <br>
                <span>& QUALITÉ</span>
            </h2>

            <div class="excellence-image-block--left">
                <img class="excellence-image" src="/images/img1.jpg" alt="Image CBD premium" />
            </div>

            <div class="excellence-text-block">
                <p class="excellence-paragraph">
                    Le cannabidiol ou « CBD » disponible en accès libre se distingue des traitements médicaux à base de cannabis,
                    prescrits sur ordonnance à des patients bénéficiant d’un suivi.<br>
                    Le cannabidiol ou « CBD » disponible en accès libre se distingue des traitements médicaux à base de cannabis,
                    prescrits sur ordonnance à des patients bénéficiant d’un suivi.
                </p>
                <a href="#" class="excellence-link">Voir nos fleurs</a>
            </div>
        
            <div class="excellence-image-block--right">
                <img class="excellence-image" src="/images/img1.jpg" alt="Image CBD premium" />
            </div>
        </section>

        <section class="philosophy-section">
            <div class="philosophy-container">

                <div class="philosophy-header">
                    <h1 class="philosophy-title">WHAT WE STAND FOR</h1>
                </div>

                <div class="philosophy-content">
                    <span class="philosophy-subtitle">OUR PHILOSOPHY</span>
                    <p class="philosophy-text">
                        Le cannabidiol ou « CBD » disponible en accès libre se distingue des traitements médicaux à base de cannabis,
                        prescrits sur ordonnance à des patients bénéficiant d’un suivi.<br>
                        Le cannabidiol ou « CBD » disponible en accès libre se distingue des traitements médicaux à base de cannabis,
                        prescrits sur ordonnance à des patients bénéficiant d’un suivi.
                    </p><br>
                    <p class="philosophy-text">
                        Le cannabidiol ou « CBD » disponible en accès libre se distingue des traitements médicaux à base de cannabis,
                        prescrits sur ordonnance à des patients bénéficiant d’un suivi.<br>
                        Le cannabidiol ou « CBD » disponible en accès libre se distingue des traitements médicaux à base de cannabis,
                        prescrits sur ordonnance à des patients bénéficiant d’un suivi.
                    </p>

                    <div class="philosophy-divider"></div>

                    <h1 class="philosophy-title-end">Our Philisophy</h1>
                </div>
        
                <div class="philosophy-image-container">
                    <img class="philosophy-image" src="/images/img1.jpg" alt="Image CBD premium" />

                    <div class="bloc-philosophy">
                        <h4>Notre Philosophie</h4>
                        <div class="content-philosophy">
                            <div class="philosophy">
                                <span>Regeneration</span>
                                <div class="line"></div>
                            </div>
                            <div class="philosophy">
                                <span>Regeneration</span>
                                <div class="line"></div>
                            </div>
                            <div class="philosophy">
                                <span>Regeneration</span>
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-products">
            <h2>Choose from our curatedplant collection,designed to fit every lifestyle</h2>
            <%- include('../partials/card-product.ejs',{backgroundColor:'',textColorBlack:'',textColorWhite:''}) %>
        </section>
    </main>

    <%- include('../partials/footer',{textColor:'',backgroundColor:''}) %>

    <script src="/js/lenis.min.js"></script>
    <script type="module" src="/js/smoothScroll.js"></script>
</body>
</html>